* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

body {
  min-height: 100vh;
  background: url(../images/adminImages/background.jpg) no-repeat center/cover;
  box-shadow: inset 0 0 0 1000px rgba(1, 29, 81, 0.5);
}

nav {
  background-color: rgba(13, 36, 66, 0.5);
}

/* move nav to the right */
#navbar {
  position: relative;
}
@media (min-width: 992px) {
  #navbarSupportedContent {
    position: absolute;
    right: 2%;
  }
}

#admin__search--bar {
  position: relative;
}

#admin__search-btn {
  position: absolute;
  right: 2%;
}

#admin__login-form {
  max-width: 400px;
}

/* end of header */

/* admin sub-header */
#admin-profile-icon {
  width: 50px;
  border-radius: 50%;
}

#admin-search {
  position: relative;
}

#admin-search-magnifying_glass {
  position: absolute;
  right: 2%;
  top: 30%;
}

@media (min-width: 770px) {
  #admin-sidebar {
    min-height: calc(100vh - 90px);
    background-color: rgba(13, 36, 66, 0.76);
  }
}

#nutrition_table {
  background-color: red;
}
