* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #537895;
  background-image: linear-gradient(315deg, #334858 0%, #09203f 74%);
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: #000;
}

li {
  /* list-style: none; */
}

p {
  text-align: justify !important;
}

img {
  width: 100%;
}

#navbar {
  background-color: rgba(13, 36, 66, 0.5);
}

.img-container {
  width: 100%;
  background-color: #09203f;
  border-radius: 300px;
}

#garlic {
  max-height: 30vh;
  width: auto;
}

#card {
  width: 500px;
  margin: 0 auto;
  background-image: linear-gradient(315deg, #f1dfd1 0%, #f6f0ea 74%);
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 30px 20px 20px 20px;
  transition: all 0.3s ease-in-out;
}

#card-image {
  width: 100%;
  height: auto;
  max-height: 257px;
  border-radius: 5px 5px 0 0;
  object-fit: cover;
}

#card-image:hover {
  transform: scale(1.02);
}

#input-ingredient {
  position: relative;
}

#fa-magnifying-glass {
  position: absolute;
  top: 30%;
  left: 2%;
  color: grey;
}

#submitBtn {
  background-color: #537895;
  padding: 10px;
  transition: 0.1s;
}

#recipe-list-cols {
  padding: 0 20px;
}
