* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #537895;
  background-image: linear-gradient(315deg, #334858 0%, #09203f 74%);
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: #000;
}

li {
  list-style: none;
}

p {
  text-align: justify !important;
}

img {
  width: 100%;
}

#card {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  background-image: linear-gradient(315deg, #f1dfd1 0%, #f6f0ea 74%);
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

#card-image {
  width: 100%;
  height: auto;
  max-width: 100%;
  border-radius: 5px 5px 0 0;
  height: 500px;
  object-fit: cover;
}

#input-ingredient {
  position: relative;
}

#fa-magnifying-glass {
  position: absolute;
  top: 30%;
  left: 2%;
  color: grey;
}

.range-slider {
}
